---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url({{ site.baseurl }}/assets/roboto.ttf) format('truetype');
}


$base-font-family:  Roboto, Arial, sans-serif;
$base-font-size:    16px;
$small-font-size:   0.875 * $base-font-size;
$base-line-height:  1.5;
$base-font-weight:  400;
$bold-font-weight:  600;

$spacing-unit:      32px;

$global-background: #e5e5e5;
$content-background: #fff;

$text-color:        lighten(#000, 13%);
$text-color-light:  lighten(#000, 46%);
$primary-color:     #1976d2;

$content-width:     1000px;

$phone:             500px;
$tablet:            750px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import
    "base",
    "layout",
    "syntax-highlighting"
;


/* changes and tweaks - DigiP */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
body {
  margin: 0;
  /* font: 400 16px/1.5 Roboto, Arial, sans-serif; */
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.8em;
  font-weight: 600;
  color: #666;
  word-wrap: break-word;
  background: #fff;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	color: #333;
}

.site-wrapper {
max-width: 1200px;
}

.nav-background {
	/* Uncomment if we want the full width nav bar colors */
	/* background: #1976d2; */
}

@media screen and (max-width: 500px) {
  .site-title img {

	margin:16px auto;
	height: 86px;
	
	}
}


.site-nav .page-link {
    line-height: 48px;
    padding: 0 26px;
    background-color: #1976d2;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color .2s; 
	/* lighter font weight 300 */
	font-weight: 400; letter-spacing: 0.12em;
	opacity: 0.8;
	
}

@media screen and (max-width: 600px) {
	
	.site-nav {
	box-sizing: border-box;
	height: 64px;
	}
	
	.site-nav:before {
	content: "\2630";
	font-size: 32px;
	color: #fff;
	display:block;
	padding: 16px;
	cursor: pointer;
	text-align:right;
	width:100%;
	}
	
	.site-nav .page-link  {
	display:block;
	width:100%;
	float:none;
	}
	
	.site-nav:hover {
	box-sizing: content-box;
	height: auto;
	}
	
}    

.site-nav .page-link:hover {
      opacity: 1;
      /* background-color: #378fe7; */
      background-color: #1061b2;
	  color: #baddff;
      text-decoration: none; }
    .site-nav .page-link:active {
      opacity: 1;
      background-color: #64a9ed; }
    .site-nav .page-link.current {
	  opacity: 1;
      border-bottom: 6px solid rgba(255, 255, 255, 0.4);
      line-height: 36px;
      padding-top: 6px; 
	}
	  
	  
/**
 * Footer
 */
.site-description, .site-description p {
  font-size: 11px; 
  font-weight: 600; 
  line-height:1.4em;
  text-align: center;
  display: table;
  margin:0 auto;
  }
  @media screen and (max-width: 750px) {
    .site-description {
      padding: 0 16px;
      max-width: 450px;
      text-align: center;} }

.edit-this-page-area {
  float: inline-end; }
  @media screen and (max-width: 750px) {
    .edit-this-page-area {
      float: none;
      margin-top: .5em; } }
	  

.site-header, .main-content {
box-shadow: none !important;
}

p {
text-align: justify;
text-align-last: left;
margin-bottom: 30px;
}


.screenshot {
transform:scale(0.7); margin-top:-110px;
}

.site-footer { padding: 30px 0px; }
